.timeline {
  display: block;
  border-left: 5px solid coral;
  margin-left: 50px;

  position: relative;
}

.timeline::before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: -14px;

  /* tiangle */
  width: 0; 
  height: 0; 
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid coral;
}

.event {
  padding: 20px;
  position: relative;
}

.event::before {
  content: "";
  display: block;
  position: absolute;
  top: 23px;
  left: -10px;
  height: 5px;
  width: 5px;
  border-radius: 15px;
  background: white;
  border: 5px solid coral;
}