<ul>
	<li>je suis le premier li</li>
	<li>Sunt expedita sed hic vero? Officiis, ipsum. Impedit, corporis, numquam doloribus earum ullam vitae quo quaerat at culpa neque, dolore quia assumenda similique deserunt ad laudantium blanditiis sed architecto eum?</li>
	<li>
    <ul>
      <li>Je suis un sous li</li>
      <li>Je suis un sous li</li>
    </ul>
  </li>
	<li>Praesentium placeat iusto rem quis asperiores voluptate velit blanditiis, inventore deserunt ab, autem iste voluptas odio cupiditate hic dolorum totam, eligendi alias. Accusantium aperiam quam assumenda amet asperiores dignissimos officia?</li>
	<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, repudiandae! Veniam repellendus harum autem deleniti fuga, asperiores quasi accusamus illum temporibus in dicta odit aliquam ipsam dolores doloremque ullam minima?</li>
</ul>


<div>
  Je suis au même niveau que ul
</div>

<form action="">
  <h5>FORMULAIRE</h5>
  <input type="number">
  <input type="text">
  <input placeholder="Ceci est un place holder modifié">
  <input type="date">
</form>