nav ul {
  display: inline-block;
  list-style-type: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 50px;
  background: #333;
  margin: 0;
  padding: 0;
  overflow: auto;
}

nav ul li {
  display: inline-block;
}

nav ul li:hover {
  background: #666;
}

a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 15px;
}

.active {
  background: #555;
}