<nav>
  <ul>
    <li routerLinkActive="active">
      <a routerLink="anim">Animations</a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="clearfix">Clearfix</a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="pseudo">Pseudo éléments</a>
    </li>
    
    <li routerLinkActive="active">
      <a routerLink="position">Position</a>
    </li>
    
    <li routerLinkActive="active">
      <a routerLink="variable">Variables</a>
    </li>
    
    <li routerLinkActive="active">
      <a routerLink="center">Centrer</a>
    </li>
    
    <li routerLinkActive="active">
      <a routerLink="selector">Sélecteurs</a>
    </li>
    
    <li routerLinkActive="active">
      <a routerLink="media">Média Queries</a>
    </li>
   
    <li routerLinkActive="active">
      <a routerLink="bootstrap">Bootstrap</a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="sass">SASS</a>
    </li>
    
    <li routerLinkActive="active">
      <a routerLink="print">Impression</a>
    </li>
  </ul>
</nav>