/*
* - Flex est nouveau : pas compatible avec tous les navigateurs
*   + Nécessite de fixer la taille du parent
*
* - transform:translate est connu des plus anciens navigateurs
*   + Doit être absolute (peut sortir du parent !)
*/

.container {
  height: 300px;
  width: 100vw;
  background: #CCC;
  margin-top: 5px;
}

.container:nth-child(1) {
  position: relative;
}

.container:nth-child(2) {
  display: flex;
}

.block {
  height: 150px;
  width: 150px;
  background: coral;
  color: white;
  font-size: 25px;
  padding: 10px;
}

.no-flex {
  position: absolute; /* fonctionne avec fixed */
  top: 50%; /* déplacer de 50% du PARENT */
  left: 50%; /* déplacer de 50% du PARENT */
  transform: translate(-50%, -50%); /* redéplacer de 50% de la taille de l'enfant*/
}

.flex {
  margin: auto;
}